.range-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-flow: row;
}

.min-max-container {
  width: 100px;
  display: flex;
}

.min-max-container > input {
  width: 100%;
}

.bullet-value {
  position: absolute;
  bottom: -18px;
  left: 6px;
}

.range-line-container {
  width: calc(100% - 266px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  position: relative;
}

.range-line {
  width: 100%;
  height: 8px;
  background-color: black;
  display: flex;
  align-items: center;
}

.range-line-changing {
  opacity: 0.7;
}

.bullet {
  background-color: black;
  border-radius: 50%;
}

.bullet:hover {
  transform: scale(1.2);
  cursor: grab;
}

.bullet-dragging {
  transform: scale(1.2);
  cursor: grabbing !important;
}
.bullet-dragging:hover {
  cursor: grabbing;
}

.debug {
  width: 100%;
  position: absolute;
  top: 500px;
}

.step {
  position: relative;
  height: 10px;
  border-right: 1px solid black;
  border-left: 1px solid black;
  z-index: -99;
}

.step-number {
  font-size: 1rem;
  position: absolute;
  top: 1rem;
  right: 0;
}
